@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-ink text-paper font-sans;
  }

  * {
    box-sizing: border-box;
  }
}
